* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292C34;
}

header {
    background: white;
    padding: 20px;
}

p {
    color: white;
}

header>h1 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #292C34;
}

.scoreboard {
    border: 3px solid white;
    width: 200px;
    color: white;
    font-size: 46px;
    border-radius: 4px;
    margin: 20px auto;
    padding: 15px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result>p {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.choice:hover {
    cursor: pointer;
    background: red;
}

img {
    height: 140px;
    width: 140px;
}

#action-message {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}